@import url('https://fonts.googleapis.com/css?family=Spirax');

.nav a{
	
	font-size: 22px;
	font-family: 'Spirax', cursive;
}
.fa{
	color: #000;
}
ul{
	list-style: none;
}

h1{
	font-style: italic;
}
.fa-plus{
	color:white;
}