<h1>Welcome to Hair Salon</h1>

  <div class="container">
   
    <a href="/stylists/new">Add New Stylist</a>
  </div>
  <p></p>
  <% if @stylists.any?() %>
    <h3>Here are your lists:</h3>
  <ul>
      <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id()%>">
      		<%= stylist.name() %></a></li>
      <% end %>
    </ul>
    <% else %>

      <p>There are no lists yet!</p>

  <% end %>
  
  <form action="/stylist" method="post">
    <label for="stylist_id">Select a Stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>

    <label for="name">Name of the client:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add task</button>
  </form>