<h1><%= @stylist.name() %></h1>
<button class="btn btn-info"><i class="fa fa-scissors" aria-hidden="true"></i><a href="/stylists/<%= @stylist.id()%>/edit"> Edit</a></button>


  <hr>
  <hr>
  <% if @stylist.clients().any?() %>
    <h3>List of clients of:</h3>

    <ul>
      <% @stylist.clients().each() do |client| %>
        <li><a href="/clients/<%=client.id()%>/edit">
        <%=client.name()%></li>
      <% end %>
    </ul>

    <% else %>
      <p>This stylist does not  have any clients</p>
    <% end %>

  <div class="container">
    <a href="/"><button class="btn btn-info">Home</a>
  </div>
  
