<h1><a href="/stylists/<%= @stylist.id()%>/edit">Edit<%= @stylist.name() %></a>
</h1>

  <hr>
  <hr>
  <% if @stylist.clients().any?() %>
    <h3>Here are all the tasks in this list:</h3>

    <ul>
      <% @stylist.clients().each() do |client| %>
        <li><a href="/clients/<%=client.id()%>/edit">
        <%=client.name()%></li>
      <% end %>
    </ul>

    <% else %>
      <p>There are no tasks on this list!</p>
    <% end %>

  <div class="container">
    <a href="/"><button class="btn">Home</a>
  </div>
  
